{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div>
            <a href="{{ path('recipe_index') }}">Back to index</a>
            <a href="{{ path('recipe_update', { id: recipe.recipe_id }) }}">Edit</a>
            {% if groceryLists is not empty %}
                {% include 'food_recipes/_add_to_grocery_list.html.twig' %}
            {% endif %}
        </div>
        <h1>{{ recipe.name }}</h1>

        <div>
            <ol>
                {% for ingredient in recipe.ingredients %}
                    <li><p>{{ ingredient }}</p></li>
                {% else %}}
                    <div><p>No ingredients :( </p></div>
                {% endfor %}
            </ol>
        </div>
    </div>
    
{% endblock %}