{% extends "base.html.twig" %}

{% block body %}
    <div>
        <h1>Our tasty recipes:</h1>

        <div><a href="{{ path('recipe_create') }}">Add new</a></div>

        <div>
            <ol>
                {% for recipe in recipes %}
                        <li>
                            {{ recipe.name }}
                            <a href="{{ path('recipe_detail', {id: recipe.recipe_id}) }}">Show</a>
                        </li>
                {% else %}
                    <div>List is empty :( Add something!</div>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}