/vendor/
/.idea

.php-cs-fixer.cache
/.phpunit.cache
docker-compose.override.yaml
###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
