<nav>
    <a href="/"><span>&#128170 TRIBE &#128170</span></a>
    <a href="{{ path('recipe_index') }}">Przepisy</a>
    <a href="{{ path('provisioning.groceries.index') }}">Zakupy</a>
    <a href="{{ path('worked_time.polcode') }}">Worked Time</a>
</nav>