<nav>
    <span>&#128170 TRIBE &#128170</span>
    <a href="/">Home</a>
    <a href="{{ path('recipe_index') }}">Food Recipes</a>
    <a href="{{ path('worked_time.polcode') }}">Worked Time</a>
</nav>